         <Layout>
             <div className=" px-3 md:px-8  mx-auto">
                 <div className="mt-20 md:mt-8">
                 <p className="align-left md:text-white pb-4"> Jobs 
             <span><svg xmlns="http:www.w3.org/2000/svg" className="h-4 inline-block" viewBox="0 0 20 20" fill="currentColor">
   <path fillRule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clipRule="evenodd" />
 </svg></span>
              Interview </p>
             <div className=" flex flex-col items-center justify-center px-6 py-16 md:p-16  bg-white shadow-md rounded-lg">
            
             <div className="flex flex-col text-base md:flex-row md:justify-between">
                 <div className="md:hidden w-full">
                     <img src="https:via.placeholder.com/350" className="rounded-md" />
                     </div>
                 <div className="md:w-3/5">
                     <p className="text-sm font-getdevM"> <span className="text-gray-500 "> Update</span> 12 mins ago</p>
                     <p className="md:text-3xl text-2xl text-gdblue font-getdevM mt-3">Advanced Fullstack Developer </p>
                     <p className="text-gray-500 mb-2 text-lg md:text-sm"> <span className="inline-block"></span> Lagos, Nigeria</p>
                     <div className="md:w-2/5 w-4/5 py-2  text-center text-white bg-red-600 rounded-full shadow-sm font-getdevM ">
                     ₦200,000  -  ₦250,000
                     </div>

                     <div className="mt-10">
                         <p className=" pt-2 pb-8 border-b text-sm font-getdevM ">
                         We are looking for a Fullstack (PHP) and Mobile App Developer responsible for managing back-end services and the interchange of data between the server and the users. 

 Your primary focus will be the development of all server-side logic, definition and maintenance of the central database, and ensuring high performance and responsiveness to requests from the front-end on the web and Mobile Devices. You will also be responsible for integrating the front-end elements already built into the application. 

 Therefore, an understanding of front-end technologies is necessary as well.
                         </p>

                         <div className="pt-6  pb-8 border-b"> 
                             <h6 className="text-gdsubBlue   mb-2">Responsibility</h6>
                             <div className="text-sm font-getdevM ">
                                 <ol className="list-decimal list-inside">
                                     <li> Integration of user-facing elements developed by front-end developers</li>
                                     <li></li>
                                     <li></li>
                                     <li></li>
                                 </ol>
                           


                             </div>
                         </div>

                         <div className=" pt-6  pb-8 "> 
                             <h6 className=" text-gdsubBlue  mb-2">Skills and Qualifications</h6>
                             <div className="text-sm font-getdevM ">
                                 <ol className="list-decimal list-inside">
                                     <li> Integration of user-facing elements developed by front-end developers</li>
                                     <li></li>
                                     <li></li>
                                     <li></li>
                                 </ol>
                           


                             </div>
                         </div>

                        
                     </div>
                 </div>
                 <div className="">
                     <div className="hidden md:block w-full">
                     <img src="https:via.placeholder.com/350" className="rounded-md" />
                     </div>
                     <div className="mt-10 mb-5 md:border-gray-200 md:border-2 md:rounded-lg md:p-3">
                         <h6 className="text-gdblue mb-2">Job Type</h6>
                         {/* <div className="inline-flex mb-3 text-center  text-white rounded-lg shadow-md">
                             <span className="p-3 flex-1 text-gdsubBlue bg-gray-200 ">Contract</span>
                             <span className="p-3 bg-blue-500">1 Month</span>
                         </div> */}
                        
                         <div class="inline-flex shadow-md mb-3 text-white">
   <span class="  py-3 px-4 rounded-l text-gdsubBlue bg-gray-200">
   Contract
   </span>
   <span class="   py-3 px-4 rounded-r bg-blue-700">
   1 Month
   </span>
 </div>
                         <div className="md:w-5/6 md:border-b-2 py-3  border-gray-200" >
                             <div className="p-3 mb-3 border-2 border-gray-200 rounded-lg"><span className="px-3 py-1 text-sm bg-gray-300 rounded-full">From:</span> <span className="pl-3 text-base font-getdevM">September, 12th 2020</span></div>
                             <div className="p-3 mb-3 border-2 border-gray-200 rounded-lg"><span className="px-3 py-1 text-sm bg-gray-300 rounded-full">To:</span> <span className="pl-3 text-base font-getdevM">September, 12th 2020</span></div>
                            
                            
                            
                         </div>
                         <div className="md:border-b-2 py-3  border-gray-200">
                         <h6 className="text-gdblue">Job Availability</h6>
                         <div className="inline-flex my-2 ">
                             <div className="tag px-4 "> Full time</div>
                             <div className="tag px-4 mx-3">Remote </div>
                         </div>
                         </div>
                         <div>
                         <h6 className="text-gdblue my-2"> Tech Stack </h6>
                         <div className="inline-flex ">
                             <div className="tag "> PHP</div>
                             <div className="tag mx-3">Python </div>
                         </div>
                         </div>
                      
                     </div>
                     <div className="mt-5 mb-5">
                         <button class="btn inline-block w-full p-5 text-center bg-red-500 shadow-md">Apply for this job</button>
                     </div>
                 </div>
             </div>
             </div>
       
       
                 </div>
             </div>
          
       
       
         </Layout>