@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'RobotoBlack';
  src: url(./assets/fonts/Roboto-Black.ttf);
}
@font-face {
  font-family: 'RobotoBold';
  src: url(./assets/fonts/Roboto-Black.ttf);
}
@font-face {
  font-family: 'RobotoRegular';
  src: url(./assets/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: 'RobotoMedium';
  src: url(./assets/fonts/Roboto-Medium.ttf);
}

body {
  @apply overflow-x-hidden;
}
/* label {
    @apply text-gray-500;
} */
h1 {
  @apply text-5xl text-white;
}

h2 {
  @apply text-4xl text-white font-getdevM;
}

h3 {
  @apply text-2xl font-getdevM;
}

h4 {
  @apply text-base font-getdevM;
}

h5 {
  @apply text-base font-getdevM text-gdblue;
}
h6 {
  @apply text-sm font-getdevM;
}
p {
  @apply text-sm font-getdev;
}
label {
}

.btn {
  @apply inline-block text-base text-center text-white bg-red-600 rounded-sm;
}

.btn-gray {
  @apply p-3 text-base font-bold text-center bg-gray-500 rounded-lg text-gdblue;
}

.btn-outline {
  @apply text-base text-center text-blue-500 border border-blue-500 rounded-sm;
}

.btn-outline-red {
  @apply text-base text-center text-red-500 border border-red-500 rounded-sm;
}

.input-error {
  @apply border-red-600;
}

.input-border {
  @apply border-gray-500;
}
.form-input {
}
/**
* this is for icon embeded in a form input
*/
.icon {
}

.tag {
  @apply p-2 text-base text-center bg-gray-300 rounded-md text-gdblue;
}

/*cards rounded corner, with shoadow and good padding */
.card {
  @apply p-3 rounded-md shadow-md;
}

/* content card for main pages; */
.content-card {
  @apply p-16 m-16 rounded-md shadow-md;
}

#menu-toggle:checked + #menu {
  display: block;
}

.bg-gdGradient {
  background: linear-gradient(
    90deg,
    rgba(6, 111, 224, 0.05) 9%,
    rgba(3, 31, 126, 1) 41%,
    rgba(3, 31, 126, 1) 100%
  );
}
.dropdown:hover .dropdown-menu {
  display: block;
}

.about-header {
  background-image: url(./assets/img/Aboutbanner.png);
  background-repeat: no-repeat;
  background-size: 100%;
  object-fit: contain;
}
.partner img {
  filter: grayscale(100%);
  opacity: 0.3;
}
#main {
  /* border-radius:40% 40% 40% 40% / 5% 5% 5% 5% ; */
  border-radius: 50% 50% 50% 50% / 12% 12% 0% 0%;
  background-image: url('./assets/img/subbanner.svg');
  background-color: #fff;
  background-repeat: no-repeat;
  position: relative;
  background-size: 100% 100%;
  padding-top: 56px;
  margin-left: -5px;
  margin-right: -5px;
}
.subBg {
  background-image: url('./assets/img/sub.png');
  background-size: 100vw;
  background-repeat: no-repeat;
}
.success {
  @apply w-2/3 p-3 text-white bg-green-600 bg-opacity-90;
}
.error {
  @apply w-2/3 p-3 text-white bg-red-600 bg-opacity-90;
}
.sublarger {
  background-image: url('./assets/img/sublarge.png');
  background-size: 100vw;
  margin-left: -4px;
  margin-right: -4px;
  background-repeat: no-repeat;
}
.homeheader {
  background-image: url('./assets/img/homeheader1.png');
  background-size: 100vw;
  margin-left: -4px;
  margin-right: -4px;
  background-repeat: no-repeat;
  width: 100%;
}
.mobile-header {
  background-image: url('./assets/img/mobileHeader.png');
  background-size: 100vw;

  background-repeat: no-repeat;
  width: 100%;
}
.bg-off {
  background-image: url('./assets/img/loginbg.png');
  background-size: 100vw 100%;
  margin-left: -4px;
  margin-right: -4px;
  background-repeat: no-repeat;
}
.thick-color {
  color: #24315d;
}

.header {
  border-bottom-right-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;
}

.footerx {
  background-color: #ffffff;
  background-image: url('./assets/img/footer.png');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  padding: 13rem 0;
}
.mobile-footer {
  background-color: #ffffff;
  background-image: url('./assets/img/mobileFooter.png');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  padding: 13rem 0;
}
.account-content {
  background-image: url('./assets/img/resizebgblue.png');
  background-repeat: no-repeat;
  background-size: 100vw 40vh;
  background-position: top center;
}

th {
  @apply font-thin font-getdevM;
}
.tab-content {
  display: none;
}
input[type='button'] {
  line-height: 0;
}
.tab-content.active {
  display: block;
}
.ReactModal__Content--after-open {
  width: 50vw;
  margin: auto;
  height: 60vh;
  overflow: hidden !important;
}
.ReactModal__Overlay {
  opacity: 0;
  transform: translateX(-100px);
  transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateX(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateX(-100px);
}